
  
.links{
    list-style: none;
   
}
.nav{
    text-decoration: none;
    padding: 2rem;
    color: rgb(255, 255, 255);
}



@media screen and (max-width: 769px){
    .desktop{
        display:none;
    }
   
    .nav{
        color: aliceblue;
    }
}