.menuWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px
  }

  @media screen and (max-width: 769px){

    .menuImage{
      padding-top: 30px;
    }
  }
